/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-gutter: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #333333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fefcf3;
  scroll-behavior: smooth;
  line-height: 1.6;
  padding: 5rem;
  align-content: center;
}

@media screen and (max-width: 768px) {
  body {
    padding: 2.5rem;
    font-size: medium;
  }
  p {
    font-size: medium;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
  font-size: 16px;
}

a {
  color: #2980b9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header h1 {
  text-align: center;
  margin-bottom: 20px;
}

#header-image {
  display: block;
  margin: 50px auto 20px auto;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #333333;
  margin: 20px 0;
}

nav ol {
  list-style-type: decimal;
  padding-left: 20px;
}
nav h2 {
  margin-bottom: 0;
}

nav ul {
  list-style-type: circle;
  padding-left: 20px;
  margin-top: 5px;
}

.task {
  text-align: right;
}
.task-ul {
  padding: 30px;
  font-size: 12px;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.15),
    inset -4px -4px 8px rgba(255, 255, 255, 0.7),
    inset -4px 4px 8px rgb(0 0 0 / 0.15);
}

.task-images {
  max-width: 100%;
  border: 1px solid #333333;
  border-radius: 5px;
  margin: 20px auto;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.15);
}
.highlight {
  border-left: 2px solid #333333;
  padding: 10px;
  padding-left: 20px;
  font-size: 12px;
  background: rgb(0 0 0 / 0.025);
  border-radius: 5px;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
  margin: 20px auto;
  border: 1px solid #333333;
  border-radius: 5px;
}

section {
  margin: 12rem 0;
}

.lesson {
  margin-bottom: 5rem;
}

.sub-title {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

pre {
  display: inline-block;
  max-width: 100%;
  background: rgb(0 0 0 / 0.15);
  color: #000;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  margin: 1rem;
  font-family: monospace, "Courier New", Courier;
  font-size: 14px;
}
code {
  background: rgb(0 0 0 / 0.1);
  padding: 2px 5px;
  border-radius: 3px;
  font-family: monospace, "Courier New", Courier;
  box-shadow: inset 0 0 2px rgb(0 0 0 / 0.2);
  font-size: 14px;
}

table {
  min-width: 90%;
  border-collapse: separate;
  border-spacing: 0; /* keeps cells tight */
  margin: 20px auto;
  border: 1px solid #333333;
  border-radius: 10px;
  overflow: hidden; /* ensures inner cells don’t spill over */
}
@media screen and (max-width: 768px) {
  table {
    font-size: small;
  }
}

table thead {
  width: 100%;
  background: rgb(0 0 0 / 0.2);
  margin: -10px;
}
th,
td {
  padding: 10px 10px;
  text-align: left;
}
th {
  background: rgb(0 0 0 / 0.2);
}

.shareBtn {
  width: 100px;
  height: 100px;
  border: none;
  background: rgb(0 0 0 / 0.2);
  font-size: 2rem;
  font-weight: 900;
  color: #fefcf3;
  border-radius: 50%;
  margin: 10rem auto 0 auto;
  display: block;
  transition: all 0.5s;
}
.shareBtn:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  body {
    padding: 10rem;
  }
}
